.modal {
  // background: white;
  // height: 100vh;
  // width: 100vw;
  // position: fixed;
  // top: 0;
  // left: 0;
  // overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    position: relative;
    left: 50%;
  }

  &-postit {
    background-image: url(../../images/postit-green.png);
    background-size: cover;
    width: 370px;
    height: 400px;
    font: 300 1rem "Gloria Hallelujah", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-title {
    padding-left: 50px;
    transform: rotate(10deg);
    margin-bottom: 20px;
    text-align: center;
  }
  &-text {
    transform: rotate(10deg);
    font-size: medium;
    margin-right: 15px;
    text-align: center;
    max-width: 270px;
  }

  &-link {
    transform: rotate(10deg);
    text-align: center;
    margin: 6px;
    color: black;
  }
}
